$white: #fff;
$black: #000;
$blue: #144766;
$red: #d11f37;
$grey: #e0e0e1;
$lightBlue: #00aeef;
$textColor: #404040;

$buttonColor: #363d41;
$buttonHoverColor: #00aeef;
$quickLaunchBg: #363d41;
$quickLaunchAlt: #6c7478;
