#contentRow {
    padding: 0;
}

#pageStatusBar[class], .ms-status-msg {
    margin-bottom: 0;
}

#s4-bodyContainer {
    padding-bottom: 0;
}

#DeltaPlaceHolderMain {
    background-color: $lightGrey;
}