$white: #ffffff;
$black: #1e1e1e;
$footerBg: #1e1e1e;
$veryLightBlue: #e5f1fa;
$lightBlue: #84bfee;
$blue: #0173cf;
$orange: #f06b13;
$gold: #faa634;
$lightGrey: #e1e2e6;
$textColor: #68696b;
$grey: #5c6f7c;
